.container {
    display: flex;
    padding: 44px 0;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    border-bottom: solid 1px rgba(28, 56, 59, 0.1);
    border-top: solid 1px rgba(28, 56, 59, 0.1);
}