@import './../../../../colors.scss';

.container {
    margin-top: 560px;
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 55px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    color: $commonText;

    &__description {
        display: flex;
        justify-content: center;
        max-width: 210px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 12px;
    }
}

.pluses {
    &__container {
        display: flex;
        flex-direction: row;
        gap: 36px;
    }
}