@import './../../colors.scss';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 85px;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
}

.dean_numbers {
    display: flex;
    align-items: center;
    gap: 9px;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.social_networks {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.hr {
    margin: 0;
    position: absolute;
    width: 1440px;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.04);
    border: 0px;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: $preWhite;
}

.text {
    color: $preWhite;
}