.section {
    position: relative;
}

.image {
    &__container {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        z-index: -1;
    }
}

.dean_block {
    &__container {
        position: relative;
    }

    &__image {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 15px;
    }
}


.background {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    margin-top: 667px;
}